body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
    list-style: none;
    padding: 0;
    /* Remove default padding */
    margin-top: 20px;
}

nav ul li {
    display: inline;
    /* margin-right: 150px; */
    /* Adjust the margin-right to add space between links */
}

nav ul li:last-child {
    margin-right: 0;
    /* Remove margin-right from the last list item */
}


.template-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.template {
    width: 23%; /* Adjust as needed for proper spacing */
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.template img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Add this CSS rule to style the template image overlay */
#template-overlay {
    position: absolute;
    top: 47%;
    left: 63%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none; /* Allows clicks to pass through the overlay to the T-shirt image */
    width: 60%;
    height: auto;
}
